@import "variables";

.text-gray-100{
    color: #f7fafc;
}
.text-gray-200{
    color: #edf2f7;
}
.text-gray-300{
    color: #e2e8f0;
}
.text-gray-400{
    color: #cbd5e0;
}
.text-gray-500{
    color: #a0aec0;
}
.text-gray-600{
    color: #718096;
}
.text-gray-700{
    color: #4a5568;
}
.text-gray-800{
    color: #2d3748;
}
.text-xs{
    font-size: .75rem;
}
.text-sm{
    font-size: .875rem;
}
.text-base{
    font-size: 1rem;
}
.text-lg{
    font-size: 1.125rem;
}
.text-xl{
    font-size: 1.25rem;
}
.text-2xl{
    font-size: 1.5rem;
}
.text-3xl{
    font-size: 1.875rem;
}
.text-4xl{
    font-size: 2.25rem;
}
.text-5xl{
    font-size: 3rem;
}
.text-6xl{
    font-size: 4rem;
}

.text-right {
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

.text-primary{
    color: $primarycolor;
}

.text-warning{
    color: $warningcolor;
}

.text-danger{
    color: $dangercolor;
}