@import "variables";
@import "text";
@import "font";

.content {
    position: absolute;
    top: 53px;
    left: 200px;
    padding: 20px;
    width: calc(100% - 240px);
    text-align: left;

    .page {
        h1 {
            margin: 0px 0px 10px;
        }

        .pageheader { 
            padding: 10px;
            border-bottom: 1px solid #d7d7d7;
            margin-bottom: 2rem!important;
        }
    }
}