@import "variables";
@import "text";
@import "utilities";

.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    background-color: $bgcolor;

    .sidebarheader {
        height: 53px;
        text-align: center;
        line-height: 53px;
        background-color: $cleancolor;
    }

    .menu {
        text-align: left;
        padding: 10px 2px;
        border-right: 1px solid $gray-400;
    }

    .menutitle {
        margin-left: 20px;
    }
}

.toggler-menu{
    display: none;
}

@media (max-width: 768px) { 
    .sidebar {
        display: none;
    }

    .toggler-menu{
        cursor: pointer;
        display: inline-block;
    }
}

.displayblock {
    display: block;
}

.border-bottom {
    border-bottom: 1px solid $bordergray;
}