@import "variables";
@import "text";

.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    background-color: $cleancolor;

    .sidebarheader {
        height: 54px;
        text-align: center;
    }

    .menu {
        text-align: left;
        padding-top: 10px;
    }

    .menutitle {
        margin-left: 20px;
    }
}